extends layout

block meta
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="title" content="AI NOW">
  <meta name="ROBOTS" content="AI NOW!">
  <meta name="description" content="AI NOW!">
  <meta name="abstract" content="AI NOW!">
  <meta name="author" content="AI NOW">
  <meta name="publisher" content="AI NOW">
  <meta name="copyright" content="AI NOW">
  <meta name="revisit-after" content="1 days">
  <link rel="shortcut icon" href="/img/logo.png">

  <title>AI NOW | Coming Soon</title>

block content
   <div class="cloud floating">
    <img src="/img/cloud.png" alt="AI NOW"> 
    </div>
    <div class="cloud pos1 fliped floating">
      <img src="/img/cloud.png" alt="AI NOW">
    </div>

    <div class="cloud pos2 floating">
    <img src="/img/cloud.png" alt="AI NOW">
    </div>

    <div class="cloud pos3 fliped floating">
    <img src="/img/cloud.png" alt="AI NOW">
    </div>


    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <img src="/img/logo.png" style="width: 120px; alt="AI NOW Logo">
                    h1 AI NOW
                    <h2 class="subtitle">We're working hard to launch our website and we'll be ready very soon</h2>
                    <br />
                </div>
                <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="icoGit" title="Github"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p class="copyright">Copyright &copy; 2022 - <a  href="#">AI NOW</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
  
